

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background:url("/public/day.jpg") no-repeat 50% 50%;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  text-align: center;
}

.loading-message {
  text-align: center;
}

.fb{
  font-weight: 700;
}